
  
  /* Alan Sans Font Faces */
  @font-face {
    font-family: "AlanSans";
    src: url("/fonts/alanleague-spartan-v15-latin-500-sans-v1-latin-300.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
  }
  @font-face {
    font-family: "AlanSans";
    src: url("/fonts/alan-sans-v1-latin-regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "AlanSans";
    src: url("/fonts/alan-sans-v1-latin-500.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: "AlanSans";
    src: url("/fonts/alan-sans-v1-latin-600.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
  }
  @font-face {
    font-family: "AlanSans";
    src: url("/fonts/alan-sans-v1-latin-700.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: "AlanSans";
    src: url("/fonts/alan-sans-v1-latin-800.woff2") format("woff2");
    font-weight: 800;
    font-display: swap;
  }
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
 
@theme{
 
  --font-AlanSans:"AlanSans","sans-serif";
 
}
 
body{
  @apply  font-AlanSans font-medium bg-gray-100
}